#leftColumn {
  width: 20%;
  height: 100%;
  right: 80%;
  top: 0;
  background-color: #8470FF;
  position: absolute;
  margin: 0;
}

#rightColumn {
  left: 20%;
  width: 80%;
  height: 100%;
  top: 0;
  background-color: #C0FF3E;
  position: absolute;
  margin: 0;
}
